

.cube {
    float: left;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, .2);
    margin: 1px;
  }

  .cube:hover{
    background:red;
  }

  .cube-lived{
    float: left;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, .2);
    margin: 1px;
    background: rgb(150, 146, 146);
  }
  
  .purple {
    background: #ab3fdd;
  }

  .black{
      background: black;
  }

  .white{
      background: white;
  }

  .green{
    background: green;
  }

  .red{
    background: red
  }