.fieldsContainer{
  width:95%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21px, 1fr));
  grid-auto-rows: 20px;
}
.fieldsContainerCenter{
  display:flex;
  justify-content: center;
  width:100%;
}

.container2{
  width:100%;
}

.gridLoadingContainer{
  display:flex;
  justify-content: center;
  align-items: center; 
}

.loadingText{
  margin:0;
  margin-left:1vw;
  padding:0;
  color:white;
  
}


.appNavbar{
  position:sticky;
  top:0;
  left:0;
  padding:0;
  margin:0;
  width:100%;
  background-color:rgb(34, 155, 196);
  height:50px;
  margin-bottom:1vh;
}

