

.cube {
    float: left;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, .2);
    margin: 1px;
  }

  .cube:hover{
    background:blue;
  }

  .cube-lived{
    float: left;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, .2);
    margin: 1px;
    background: rgb(150, 146, 146);
  }
  
  .purple {
    background: #ab3fdd;
  }

  .black{
      background: black;
  }

  .white{
      background: white;
  }

  .green{
    background: rgb(0, 146, 0);
  }

  .red{
    background: red
  }


  .rating1{
    background: 	hsl(0, 100%, 95%) ;
  }
  .rating2{
    background: hsl(0, 100%, 85%) ;
  }
  .rating3{
    background: 	hsl(0, 100%, 75%) ;
  }
  .rating4{
    background: hsl(0, 100%, 65%) ;
  }
  .rating5{
    background: 	hsl(0, 100%, 55%) ;
  }