
  
.modal-window{
  position:fixed;
  z-index: 1;
  background-color:rgb(228, 228, 228);
  border-radius: 30px;
  width:50vw;
  
}



 .modalBg{
  height:100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color:rgba(169, 169, 169, 0.568);
  position: fixed;
  z-index: 1;
} 

.flex-container{
  height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


