
  
.modal-window{
  position:fixed;
  z-index: 1;
  background-color:white;
  border-radius: 30px;
  width:50vw;
  
}


 .modalBg{
  height:100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color:rgba(169, 169, 169, 0.568);
  position: fixed;
  z-index: 1;
} 

.flex-container{
  height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-in-container{
  display:flex;
  flex-direction: column;
}
.emotion-selector{
  margin-bottom:1vw;
  margin-left:1vw;
  margin-right:1vw;
}
.textarea{
  margin-left:1vw;
  margin-right:1vw;
}
h2{
  margin-left:1vw;
  margin-right:1vw;
}

.modal-close{
  text-align:right;
  margin-right: 1vw;
}


