.fieldsContainer{
   width:95%;   
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21px, 1fr));
  grid-auto-rows: 20px;
}

.gridLoadingContainer{
  display:flex;
  justify-content: center;
  align-items: center; 
}

