.cube {
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
  }
  
  .purple {
    background: #ab3fdd;
  }

  .black{
      background: black;
  }