*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}



@font-face {
    font-family: 'Calligraffitti';
    src: local('Calligraffitti'), url(./../assets/Calligraffitti-Regular.ttf) format('TrueType');
  }

.blurredBg{
    height: 100vh;
    width:100vw;
    background-image: url('../assets/snowMountains1.jpg');
    background-size: cover;
    filter: blur(4px);
    background-position: center;
    background-repeat: no-repeat;
}

.formContainer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
}

.title{
    text-align:center;
    font-family: Calligraffitti;
    color:white;
    font-weight: 900;
    font-size:2em;
}

.selectorContainer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    color:white;
    font-style: italic;
    height:4.5vh;
    font-weight:450;
    
}

.selectorLogin{
    display: flex;
    width:100%;
    border: 1px solid rgba(255, 255, 255, 0.425);
    justify-content: center;
    align-items: center; 
}
.selectorLogin:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.555);
    font-size: 1.1em;
}

.selectorRegister{
    display: flex;
    width:100%;
    border: 1px solid rgba(255, 255, 255, 0.425);
    justify-content: center;
    align-items: center;
}
.selectorRegister:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.555);
    font-size: 1.1em;
}

.formIn{
    background-color:rgba(255, 255, 255, 0.267);
    border:1px solid rgba(255, 255, 255, 0.425);
    padding:1vw;
}

/*Inputs*/
input[type="email"],input[type="date"],input[type="date"]:focus,input[type="text"],input[type="text"]:focus, input[type="email"]:focus, input[type="password"],input[type="password"]:focus, textarea {
    background-color : rgba(255, 255, 255, 0.5) ; 
  }
label{
    color:white;
}

/*Button (important values are to override bootstrap)*/
button{
    background-color: rgba(255, 255, 255, 0) !important;
    border-color: rgb(255, 255, 255) !important;
}

button:hover{
    background-color:rgba(255, 255, 255, 0.5) !important;
}
.form-group{
    margin:0.5vw !important
}
/*4k*/
@media screen and (max-width:2570px) and (min-width: 2100px){
    .formContainer{
        width:40%;
       
    }
    .selectorContainer{
        font-size:2em;
    }
    .title{
        font-size:4em;
    }
    .btn-primary{
        font-size:2em !important;
    }
    label{
        font-size:2em ;
    }
    input{
        height:3vh !important;
    }
    
}

@media screen and (max-width:1500px){
    .formContainer{
        width:30%
    }
    .selectorContainer{
        font-size:1.2em;
    }
    
}


@media screen and (max-width:1200px){
    .formContainer{
        width:30%
    }
    .selectorContainer{
        font-size:1.2em;
    }
    
}
@media screen and (max-width:1024px){
    .formContainer{
        width:40%
    }
    .selectorContainer{
        font-size:1.2em;
    }
}
@media screen and (max-width:900px){
    .formContainer{
        width:50%
    }
    .selectorContainer{
        font-size:1.2em;
    }
}
@media screen and (max-width:768px){
    .formContainer{
        width:60%
    }
    .selectorContainer{
        font-size:1.3em;
    }
}
@media screen and (max-width:600px){
    .formContainer{
        width:70%
    }
    .selectorContainer{
        font-size:1.4em;
    }
}
@media screen and (max-width:480px){
    .formContainer{
        width:80%
    }
    .selectorContainer{
        font-size:1.1em;
    }
    .formIn{
        padding:0;
    }
    
}
@media screen and (max-width:320px){
    .formContainer{
        width:90%;
        
    }
    .selectorContainer{
        font-size:1.2em;
    }
    .formIn{
        padding:0;
    }
    /*Because iphone 5/se wont fit*/
    .form-group{
        margin:0 !important
    }
}

@media screen and (orientation:landscape) and (max-width:600px){
    /*Because orientation landscape never fits*/
    .form-group{
        margin:1vw !important
    }
    .blurredBg{
        height: 205vh;
    }

    .formContainer{
        top:100%;
    }

    .selectorContainer{
        height:8vh;
    }
}