@import url('https://fonts.googleapis.com/css?family=Roboto');

main {
  padding: 0;
  margin: 0;
  width:100%;
  height:100%;
}

.background {
  width:100vw;
  height:100vh;
  background-image: url("../assets/snowMountains1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: blur(5px);
}
  

.form{
    top:50%;
    position: absolute;
    filter: blur(0px) !important;
    left:50%;
    margin-left:-11vw; /*- 50 % width of the element to center width+padding*/
    margin-top: -18.3vh; /*- 50 % width of the element to center width+padding+paddingSelector(0.3)+ marginselector*/
    background-color:rgba(255, 255, 255, 0.26);
    padding-left: 2vw;
    padding-right:2vw;
    padding-top:4vh;
    padding-bottom:4vh;
    border: 1px solid rgba(255, 255, 255, 0.534);
}

.formIn{
    width:20vw;
    height:30vh;
    border: 1px solid rgba(255, 0, 0, 0);
}
.selector{
    margin-bottom:4vh;
    margin-top:-2vh;
}
.selectorLogin{
    float:left;
    
    border: 1px solid whitesmoke;
    /* padding-left:3.5vw;
    padding-right:3.5vw; */
    width:9.85vw;
    padding-top:0.3vh;
    padding-bottom:0.3vh;
    text-align:center;
    color:white;
    font-style: italic;
}
.selectorRegister{
    float:right;
    /* padding-right:3.5vw;
    padding-left:3.5vw; */
    width:9.85vw;
    padding-top:0.3vh;
    padding-bottom:0.3vh;
    border: 1px solid whitesmoke;
    text-align:center;
    color:white;
    font-style: italic;
}
.selectorLogin:hover{
    background-color:rgba(255, 255, 255, 0.5);
    font-weight:bolder;
}
.selectorRegister:hover{
    background-color:rgba(255, 255, 255, 0.5);
    font-weight:bolder;
}

p{
    margin: 0 !important;
    padding: 0 !important;
}





   