*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    text-decoration:none;
    color:white;
}

@font-face {
    font-family: 'Calligraffitti';
    src: local('Calligraffitti'), url(./../assets/Calligraffitti-Regular.ttf) format('TrueType');
  }


.section1{
    height:100vh;
    background-color: lightblue;
    display:flex;
    justify-content: center;
    max-height:100vh;
    
    /* overflow-x:hidden;   */
}
.subsection1{
    width:100vw;
    max-width:100vw;
    height:80vh;
    background-color:white;
    display:flex;
    justify-content:center;
    
}

.section1Content{
    margin-top: 8vh;
    
}

.logo{
    text-align:center;
    margin-bottom:4vh;
    font-family: Calligraffitti;
    font-weight: 900;
    font-size:2em;
    color:lightblue;
}

.h1Section1{
    text-align:center;
    margin-bottom:2vh;
    font-size:4em;
    font-weight: 600;
    color:lightblue
}
.pSection1{
    text-align:center;
    font-weight:400;
    color:rgb(175, 175, 175);
    font-size:2em;
}
.pSection1Big{
    text-align:center;
    color:rgb(175, 175, 175);

}

.buttonCenterSection1{
    display:flex;
    justify-content: center;
}
.bigTextSection1Container{
    display:flex;
    justify-content: center;
}
.bigTextSection1{
    width:20vw;
}
.centererContainer{
    display:flex;
    justify-content: center;
}
.imgContainerSection1{
    display:flex;
    justify-content:center;
    width:30vw;
    height:40vh;
    margin-top:7vh;
}

.imgSection1{
    width: 100%;
    height: auto;
    
}
.buttonSection1{
    width:10vw;
    height:7vh;
    font-size:1.4em;
    background-color: rgb(92, 155, 236);
    border: none;
    color:white;
    border-radius: 10px;
    margin-top:3vh;
    margin-bottom:3vh;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.section2{
    
    position:relative;
    height:35vh;
    background-color:lightblue;
    display:block;
    display:flex;
    justify-content: space-around;
    padding-top:10vh;
}

.propertiesGrid{
    display:flex;
    flex-direction:row;
    width:60vw;
    justify-content: center;
}
.boxContainer{
    display:flex;
    flex-direction:column;
    margin-left:3vw;
    margin-right:3vw;
}

.faIcon{
    color:white;
    font-size:1.5em;
}

.icon{
    margin-bottom:0.3vh;
}

.gridTitle{
    color:white;
    font-weight: 800;
    font-size:1.2em;
    margin-bottom:1vh;
    
}

.gridText{
    text-align:justify;
    color:rgb(117, 117, 117);
    font-weight:600;
}